@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Rubik+Iso&display=swap");

body {
  background: black;
  background-size: 0 0;
  border-radius: 30px;
  color: black;
  height: fit-content;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  width: 100%;
  position: absolute;
}
* {
  margin: 0;
  padding: 0;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 95vh;
  background: white;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-top: 30px;
  border-radius: 40px;
  z-index: -100;
  width: 100%;
}
.background h1 {
  text-transform: uppercase;
  font-size: 15vw;
  color: #212121;
  height: fit-content;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  text-align: start;
  margin-left: 10%;
}
.marquee {
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

@keyframes scaleout {
  0% {
    background: white;
  }
  80% {
    background: white;
    transform: translateY(0);
  }
  97% {
    background: transparent;
    transform: translateY(-100vh);
  }
}

.quote {
  height: 99vh;
  width: 100%;
  color: aliceblue;
  z-index: -10;
  background: #212121;
  border-radius: 50px 50px 0px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
}
.quote h3 {
  position: relative;
  text-align: center;
  padding: 2em 0;
  font-size: 8vw;
  width: 80%;
  z-index: 100;
}
.cursor {
  position: fixed;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  margin-top: -20px;
  border-radius: 50%;
  border: 2px solid #212121;
  transition: transform 0.3s ease;
  transform-origin: center center;
  pointer-events: none;
  z-index: 1000;
}
.quote h3::after {
  position: absolute;
  padding: 2em 0;
  z-index: 300;
  clip-path: circle(30% at 50% 50%);
  background: #212121;
  color: #212121;
  top: 0;
  left: 0;
  content: "Work hard in silence, let your success be your noise.";
}

.quote h3::before {
  position: absolute;
  content: "Work hard in silence, let your success be your noise.";
  padding: 2em 0;
  top: 0;
  left: 0;
  clip-path: circle(30% at 50% 50%);
  color: transparent;
  background: linear-gradient(
    271deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  );
  background-clip: text;
  -webkit-background-clip: text;
  z-index: 500;
}
section {
  height: 90vh;
  width: 100%;
  z-index: -300;
  background-color: white;
  border-radius: 30px;
}

.container {
  position: relative;
  z-index: -200;
  height: fit-content;
  width: 60%;
  margin: 0;
  gap: 4em;
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h2 {
  font-size: 10vh;
  color: peachpuff;
  width: 60%;
  text-align: start;
}
.container p {
  width: 60%;
  font-size: 6vh;
  color: white;
  font-weight: 500;
  padding: 20px;
  border-radius: 30px;
  z-index: -100;
}
.links {
  display: flex;
  justify-content: space-evenly;
  align-items: end;
  max-width: 100%;
  height: fit-content;
  border-radius: 30px;
  z-index: 1;
  background: black;
  width: 100%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 50px 50px 0px 0px;
  border-radius: 50px 50px 0px 0px;
}

.links a {
  background: linear-gradient(
    271deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2em;
  text-decoration: none;
  background-size: 200%;
  background-position: 50%;
  padding: 30px;
  z-index: 20000000;
  transform: translateZ(20px);
  text-transform: lowercase;
  height: fit-content;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}
.background-overlay {
  background: black;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95vh;
  clip-path: circle(200px at var(--x, 50%) var(--y, 50%));
  transition: clip-path 100ms;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  border-radius: 40px;
  z-index: -1;
}

.background-overlay h1 {
  text-transform: uppercase;
  font-size: 15vw;
  color: transparent;
  background: linear-gradient(
    271deg,
    #a0e9ff 30%,
    #a162e8 50%,
    #f093b0 70%,
    #edca85 94%
  );
  background-clip: text;
  -webkit-background-clip: text;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
  text-align: start;
  margin-left: 10%;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  z-index: 100;
  animation: moveback 3.9s linear forwards;
}
@keyframes moveback {
  0% {
  }
  99% {
    z-index: 100;
  }
  100% {
    z-index: -100;
  }
}
.text-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  color: #212121;
  height: 100%;
  width: 100%;
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  background: transparent;
  animation: scaleout 3.9s ease-out;
}
.text-wrapper p {
  font-size: 5rem;
  text-align: center;
  width: fit-content;
  position: absolute;
  font-weight: 700;
  line-height: 0;
  margin: 0;
}
canvas {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -100;
} /*# sourceMappingURL=main.css.map */
.line {
  position: relative;
}
.linemask {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.65;
  z-index: 10000;
  margin: 0;
}
@media screen and (max-width: 600px) {
  .background {
    min-width: 100%;
  }
  .background h1 {
    font-size: 20vw;
    width: 100%;
    text-align: start;
  }
  .background-overlay {
    visibility: hidden;
  }
  .container h2 {
    font-size: 7.5vh;
    width: 60%;
    text-align: start;
  }
  .container p {
    width: 60%;
    font-size: 6vh;
    color: white;
    padding: 20px;
    border-radius: 30px;
  }
  .links a {
    font-size: 1em;
  }
  .text-wrapper p {
    font-size: 4rem;
  }
  .quote {
    height: 100vh;
    width: 100%;
  }
}
